.icon-advantages1, .icon-advantages2, .icon-advantages3, .icon-advantages4, .icon-advantages5, .icon-advantages6{
	background: url(sprites.png) no-repeat;
}

.icon-advantages1{
	background-position: 0 0;
	width: 104px;
	height: 103px;
}

.icon-advantages2{
	background-position: 0 -109px ;
	width: 90px;
	height: 105px;
}

.icon-advantages3{
	background-position: 0 -220px ;
	width: 102px;
	height: 105px;
}

.icon-advantages4{
	background-position: 0 -332px ;
	width: 97px;
	height: 97px;
}

.icon-advantages5{
	background-position: 0 -435px ;
	width: 89px;
	height: 94px;
}

.icon-advantages6{
	background-position: 0 -537px ;
	width: 94px;
	height: 94px;
}

